<h3>Project Form</h3>

<%= form_for(project) do |f| %>
  <label>Project title:</label><br>
  <%= f.text_field :title %><br>

  <label>Project description</label><br>
  <%= f.text_area :description %><br>

  <label>Assign Users</label><br>
  <%= f.select :user_ids, User.all.collect { |u| [u.email, u.id] }, {}, multiple: true %><br>

  <label>Status</label><br>
  <%= f.select :status, Project.statuses.keys %><br>

  <%= f.submit %>
<% end %>
